[2013-01-19 13:14] hansihe commented on #5
My issue does seem to be the same as this one, so I will provide some more information.
This error only seems to appear occasionally. I would say about 1/10 of attempts.
Here is my full trace:

[code]

It occurs on this piece of code:

[code]

[2013-01-19 13:16] rbrcsk commented on #5
@hansihe I described what's wrong on issue #6. The same error is causing this too.

[2013-01-19 13:19] hansihe commented on #5
@randomchars Ah, thanks for letting me know.

[2013-01-22 20:06] rbrcsk commented on #8
Can you be a bit more specific? I can't reproduce this.

The following would be helpful.
What are you trying to do? ( With code)
What is the expected behavior?
What happens? (With a stacktrace if there's one)
Python version.
pytube version. (This repo or mine?)

Thank you.

[2013-01-22 21:07] ludwich commented on #8
python 2.7. Your ver just re-downloaded and installed to be safe and just ran the examples shown in the readme. It your version.
The print yt.filename works but the yt.filename = 'trailer' it keeps the same name. =(

[2013-01-23 10:40] rbrcsk commented on #8
This should be fixed now in my repo.

The problem was that the filenames were set on the videos before you could change it, and the change only effected the `YouTube` object, not the videos themselves.

[2013-01-29 22:21] nficano commented on #9
to keep this as versatile as possible, I plan on removing the console printing from the main module, replacing it with a callback-like method which you could optionally attach to for handling progress monitoring as you see fit in your application.

I would then release a command line interface that would display a progress bar, and allow all sorts of command line configuration via switches or conf

[2013-01-30 16:23] nficano commented on #11
Can you please provide me a link to the video so I can ensure that I'm accurately reproducing it?

[2013-01-30 16:39] ludwich commented on #11
http://www.youtube.com/watch?v=4vGgAk2NDO8

[2013-01-30 16:40] rbrcsk commented on #11
[Here's one](https://www.youtube.com/watch?v=kZPaDp3Id8U). It can be only reproduced on 2.X.  The Title of the video is not decoded correctly. I broke it with [this](https://github.com/NFicano/python-youtube-download/commit/99721455bfe5689d76cbcefa8be1a4d62fd974bd) commit.

Removing `.decode()` from the end of [this](https://github.com/NFicano/python-youtube-download/blob/master/pytube/api.py#L225

[2013-01-30 16:43] ludwich commented on #11
Thats true. Just tried it on python 3 and that worked but my server must have 2.X =( Iw would be sweet it this could be fixed with the check ver =).

[2013-07-09 22:14] nficano commented on #12
ah thanks, looking into it!

[2013-07-28 20:36] nanonyme commented on #11
The decode looks wrong anyway though. The decode most likely should actually be using .decode(content_type) where content_type is extracted from headers instead of .decode(). The current code breaks if local encoding isn't the same as Youtube's encoding.

[2013-07-29 18:42] rbrcsk commented on #11
@nanonyme Thanks, I forgot about this. The headers don't contain information about the encoding though. These are the headers:

[code]

[2013-11-04 16:10] nficano commented on #14
I am on this sir. I'll have this fixed tonight.

[2014-01-04 08:58] shshank commented on #14
Hi,
Was this issue resolved?
I tried to install pytube with pip and easy install. on OSX 10.6.8, python 2.7.5

## With pip 1.4.1:

[code]

## With easy_install (setuptools 2.0):

[code]

I installed it by `pip install https://github.com/NFicano/pytube/archive/master.zip`

[2014-01-04 09:15] baltasvejas commented on #14
Hi, I think still doesn't work...
I use pip install youtube-dl. This is another tool, which solved my issue.
My pip freeze:
Django==1.6
MySQL-python==1.2.4
Pillow==2.2.1
South==0.8.4
argparse==1.2.1
django-sslify==0.2
wsgiref==0.1.2
youtube-dl==2014.01.03

[2014-02-06 00:48] heetbeet commented on #5
This error seems to persist
everything runs fine with:

[code]

but there is a problem with:

[code]

[code]

it seems that video_signatures is an empty list.

[2014-02-06 15:35] nficano commented on #5
fixed is in v0.2.1 going out Feb 8th https://github.com/NFicano/pytube/tree/v0.2.1
- Nick

On Wednesday, February 5, 2014 at 7:48 PM, heetbeet wrote:

[2014-06-15 22:10] arudmin commented on #14
The same problem:

(venv)a@vl:~/code/yt2in$ sudo easy_install pytube
Searching for pytube
Reading https://pypi.python.org/simple/pytube/
Couldn't find index page for 'pytube' (maybe misspelled?)
Scanning index of all packages (this may take a while)
Reading https://pypi.python.org/simple/
No local packages or download links found for pytube
error: Could not find suitable distribution for Requireme

[2014-06-20 20:23] nficano commented on #25
Good catch looking into it.

[2014-06-28 19:58] tibbiyelininja commented on #25
I got this error too, Waiting for fix or suggestions about it.

[2014-06-29 13:26] damiencorpataux commented on #14
Same here, please give us some time to package that tool for NFicano

It's easy to install it from source though:

[code]

or, as [mentioned](https://github.com/NFicano/pytube/issues/14#issuecomment-31574463) by @shshank:

[code]

[2014-07-17 11:21] Zahl commented on #25
I "fixed" this in my fork by using an external JS interpreter. (But I know your goal is not to have any dependencies). It seems the JS code now uses a helper object for decoding the signature.
What I noticed is that on all 3 videos I tested this with, youtube's code for decoding the sig looked exactly the same, so the question is whether you need an interpreter at all. Why not just implement the a

[2014-07-28 12:25] goors commented on #25
Same error here since two days ago. 26. Jul 2014.
Any help?

[2014-09-11 09:18] Miserlou commented on #25
+1

[2014-09-17 03:41] josegonzalez commented on #25
Looks like this affects Vevo videos, and a hack around it was found in youtube-dl: https://github.com/rg3/youtube-dl/pull/900/files

Anyone want to take a peak at fixing it? I might later this week if not.

[2014-09-17 04:38] josegonzalez commented on #25
Hmm, looks like their methodology has changed: https://github.com/rg3/youtube-dl/blob/master/youtube_dl/extractor/youtube.py#L499

Going to try something else...

[2014-09-23 16:55] josegonzalez commented on #14
@NFicano do you mind if I push releases of this to pypi?

[2014-09-23 16:56] nficano commented on #14
not at all :+1:

[2014-09-23 19:48] josegonzalez commented on #14
Mind adding me as a contributor to this repository so I can make any necessary changes?

[2014-09-23 19:51] nficano commented on #14
done

[2014-09-28 01:37] josegonzalez commented on #14
@NFicano did you register the package on pypi before? It seems I cannot create releases because the package is registered.

[2014-09-28 01:39] nficano commented on #14
what's your pypi username, I'll add you as a maintainer.

[2014-09-28 02:59] josegonzalez commented on #14
It is `savant`

[2014-09-28 03:07] nficano commented on #14
all set

On Saturday, September 27, 2014, Jose Diaz-Gonzalez <
notifications@github.com> wrote:

##

Sent from my iPhone.

[2014-09-28 04:26] josegonzalez commented on #12
I have released version 0.2.0. Let me know if you have trouble with it!

[2014-09-28 04:26] josegonzalez commented on #14
I have released version 0.2.0. Let me know if you have trouble with it!

[2014-10-10 20:19] gotme commented on #11
In this example, the name of the video uses the symbol for registered trademark.  This funny character, ®, causes a problem.  Other examples are the ellipsis, hyphen, dash and the left/right quotation marks.
https://www.youtube.com/watch?v=Yyc07tnnpQk

My fix was to identify all those funny characters and convert them, as follows.  Hopefully there's a more generic way of doing this.
  filename = y

[2014-10-12 14:21] gotme commented on #11
Here's a real simple HACK to convert all those high ASCII characters to low ASCII characters, plus any additional multi-byte Unicode converts that you require.

replacements=[
['\u2019','\''],['\u2018','\''],['\u2026','...'],['\u2014','-'],
['\x80','{euro}'],['\x81',''],['\x82','\''],['\x83','f'],['\x84','"'],['\x85','...'],['\x86','+'],['\x87','++'],['\x88','^'],['\x89','{mille}'],
['\x8a','S'],[

[2014-12-03 16:08] josegonzalez commented on #37
2.7 is what is tested. If you want to make it compatible with 3.4, feel free to make a PR that doesnt break BC and I'll merge it.

[2014-12-03 17:20] Eloar commented on #37
It would be nice to put some info about version compatibility. I couldn't find any.

[2014-12-03 18:22] josegonzalez commented on #37
It's in the [setup.py](https://github.com/nficano/pytube/blob/master/setup.py#L27)

[2014-12-03 19:37] Eloar commented on #37
[README.rst](https://github.com/nficano/pytube/blob/master/README.rst) Would be good place to put such information for those noobs like me. I might try to make some changes to port it to 3.4 with BC.

[2014-12-03 19:38] josegonzalez commented on #37
Can you make a PR to add it to the readme?

[2015-03-04 11:35] mtahirtariq commented on #50
Having same issue!!!
To be more specific exception is raised from tinyjs.py's JSVM.compile() method.

[code]

`code` is equal to `u'hG.UN(a,20);hG.tp(a,3);hG.UN(a,37);hG.mf(a,46);return=a.join("")'` and `code.split(";")` generates `[u'hG.UN(a,20)', u'hG.tp(a,3)', u'hG.UN(a,37)', u'hG.mf(a,46)', u'return=a.join("")']` which fails `var, method = instruction.split("=")` because of no `=` in the instr

[2015-03-25 15:37] nanonyme commented on #11
@randomchars
try:
    foo = foo.decode(encoding)
except AttributeError:
    pass # Python3

# curl to a video:

HTTP/1.1 200 OK
Date: Wed, 25 Mar 2015 15:29:26 GMT
Pragma: no-cache
Expires: Fri, 01 Jan 1990 00:00:00 GMT
Cache-Control: no-cache, must-revalidate
Content-Type: text/html; charset=ISO-8859-1
Server: gws
X-XSS-Protection: 1; mode=block
Alternate-Protocol: 443:quic,p=0.5
Transfer-Encodin

[2015-03-30 11:01] akatasonov commented on #50
I confirm

Traceback (most recent call last):
  File "download_videos.py", line 10, in <module>
    yt.url = "http://www.youtube.com/watch?v=UPFQ8EJ_DHk"
  File "C:\Python27\lib\site-packages\pytube\api.py", line 95, in url
    self._get_video_info()
  File "C:\Python27\lib\site-packages\pytube\api.py", line 291, in _get_video_info
    signature = self._cipher(stream_map["s"][i], js_url)
  File "C

[2015-09-01 20:23] nficano commented on #60
@Timtam can you confirm this wasn't an issue with the previous version?

[2015-09-01 20:33] Timtam commented on #60
nope, it was, I tested with 0.2.0 right now. I just wanted to say that I tested it with the newest available version, so it isn't solved yet.

[2015-09-06 02:36] jbwincek commented on #11
Pull request #62 to fix issue #61 also fixed this issue right? So it can now be closed.

[2015-09-06 02:41] joaoricardo000 commented on #11
Just tried here with version 0.3.0 and had no problems. I this it's closed.

[2015-09-12 00:47] nficano commented on #60
@Timtam this is tricky, it's because it's age restricted. I'm looking now to see if there's a workaround.

[2015-09-12 02:01] nficano commented on #60
Can't fix, but now raises exception.

[2015-09-12 02:21] nficano commented on #34
Seems to be working in v4.0.0

[2015-09-12 02:26] nficano commented on #50
Seems to be fixed in 4.0.0.

[2015-09-17 19:10] nficano commented on #64
Can you please provide a specific example? Specifically the "blahblah" and the "some criteira". This seems to work fine for me.

[code]

[2015-09-17 19:20] ZhangChenyang commented on #64
Thanks. For example, in this one:

[2015-09-17 21:53] nficano commented on #64
@ZhangChenyang this isn't a bug per se, but I think you brought to light something that should be addressed. If you do:

[code]

You'll get:

[code]

There isn't a "mp4", "720p" version, so that should fail. Perhaps that should raise some kind of DoesNotExist exception?

In either case, you can still do:

[code]

[2015-09-17 21:58] nficano commented on #64
Added DoesNotExist Exception in 4.1.2.

[2015-12-10 19:44] nficano commented on #86
@masipcat I'm unable to repro, this video seems to work under 6.1.4.

[code]

[2015-12-10 20:16] matpojer commented on #86
Strange. Using version 6.1.4., python 3.5.0 and win 10 it always produces the error mentioned before when calling YouTube() with that URL.

It's behaving the same on my second PC with a fresh python 3.5.1 and only pytube installed.

If it's not reproducible for anyone it has to be something weird on my end. Thanks for the quick reply!

[2015-12-10 20:37] nficano commented on #86
Let me update my unit tests, it may be an issue only with 3.5 that went unnoticed, I'll keep you posted.

[2015-12-20 03:09] riX2000 commented on #86
I got the same error today with 6.1.4. Python version 3.5.1 (and 2.7.11).

[code]

[2015-12-20 09:28] C0DK commented on #86
with python 2.7.3 i get a cipher error as well:
url=https://www.youtube.com/watch?v=pcVqefOb0J0
Traceback (most recent call last):
  File "/home/pi/scripts/dl-yt", line 45, in <module>
    yt = YouTube(songURL)
  File "/usr/local/lib/python2.7/dist-packages/pytube/api.py", line 66, in **init**
    self.from_url(url)
  File "/usr/local/lib/python2.7/dist-packages/pytube/api.py", line 189, in from_u

[2015-12-20 16:55] nficano commented on #86
Please run `pip install -U pytube` to upgrade to 6.1.5

[2015-12-20 17:34] C0DK commented on #86
awesome! you're doing great!

[2015-12-20 17:36] riX2000 commented on #86
Thanks, but still the same error.

[2015-12-20 18:58] nficano commented on #86
@riX2000 I just tried this and it works fine under 6.1.5:

`pytube --resolution=720p --extension=mp4 https://www.youtube.com/watch?v=sBzrzS1Ag_g`

[2015-12-20 19:10] riX2000 commented on #86
@nficano Ok, yes you are right, it works with python 2.7, i was using 3.5.
Thanks.

[2015-12-21 12:36] matpojer commented on #86
@nficano thanks for the update, but while the videos by @riX2000 and @C0DK  are working now under both 2.7.10 and 3.5.0 on my machines, all three videos I mentioned in my first post still only work in 2.7.10 and not in python 3.5.0 or 3.5.1.

So there still seems to be a functional difference depending on the python version like @riX2000 observes.

[2016-05-02 12:56] ChillarAnand opened #4 "How to get data in dev server?"
There is `data` dir which has all info. But when dev server is started, it is not showing up?

[2016-05-03 15:54] codersquid opened #5 "Consider adding authors page to topnav"
I think http://pytube.org/authors would be good to include in the top navigation, along with Categories and Tags. It looks like a small template change.

[2016-05-03 17:10] #5 closed

[2016-05-03 17:21] logston commented on #4
Hey @ChillarAnand, I'm not sure I understand the issue. Can you rephrase?

[2016-05-04 15:48] ChillarAnand commented on #4
I have cloned the repo and started server with `make serve`. When i open categories page in browser it is empty.

![p](https://cloud.githubusercontent.com/assets/4463796/15019907/7d5b56c6-123d-11e6-9dda-d07fd9fa2f58.png)

Can you tell me how to populate data into that page?

[2016-05-06 02:44] logston commented on #4
Ah, I see. You have to run these commands:

This command will populate the content dir with `.rst` files:

[code]

... and then this command will convert those `.rst` files into html:

[code]

Finally, you will be able to serve those html files with:

[code]

[2016-05-06 02:45] logston commented on #4
Running the first two commands above and take a while given the amount of data in the `data/` dir, FYI.

[2016-05-06 02:45] #4 closed

[2016-05-06 18:50] ChillarAnand commented on #4
I tried running `make content` and it is throwing this error.

[code]

[2016-05-06 18:55] ChillarAnand commented on #4
Ah, my venv got corrupted.  Working fine now.

[2016-05-07 03:35] logston commented on #4
👍

[2016-06-02 04:51] logston opened #8 "Add search to site"
The site could really use a search box. Somewhere around the red arrow in the nav bar would be great.

![screen shot 2016-06-01 at 9 49 40 pm](https://cloud.githubusercontent.com/assets/2641765/15734291/e5349b98-2842-11e6-958d-ed0704ef3d99.png)

 I'm thinking google search. Here's the Google Custom search text:

[code]

[2016-06-02 04:53] logston opened #9 "Style Site"
The current theme/style of the site is located in `themes/pytube-201601`. I'd be great to give it a more friendly feel. I'd like to keep things simple (for maintenance reasons) but a little bit more style than we currently have would be warmly welcomed.

[2016-06-02 04:56] logston opened #10 "Link checker program"
This site is basically a big list of URLs. I'd really like a spider to crawl those URLs once a day and make sure none are broken. This program would send an email with the list of broken links/pages/etc or report that everything is 200 OK. The program would probably run on my server via a cron job until a sponsor could donate a server to run this job.

[2016-06-02 05:00] logston opened #11 "A sweet 404 page"
No site is complete without a sweet 404 page. Pytube.org could use one.

Some examples: http://www.wix.com/blog/2012/09/20-creative-404-pages/

I wouldn't spend a ton of time on this as it could get scrapped if the style changed. For example, when a PR is made for issue #9.

[2016-06-02 14:43] codersquid opened #12 "Suggestion: Talk to PSF about getting infrastructure sponsorship"
This year the PSF created a role for an IT person, and he's onboarding and handling their current infrastructure. Once the existing infrastructure work settles down, you could make a request.

This issue tracks the idea of making a grant proposal to the PSF for hosting of the pytube infrastructure.

[2016-06-02 17:30] zerok commented on #10
Should this operate on the generated HTML files or just take the links from the data and check these?

[2016-06-02 17:30] paulcollinsiii commented on #10
Scrapy?

[2016-06-02 17:47] zerok opened #13 "Document getting started"
Right now the README doesn't explain how to get this started with pytube (like getting the statically generated sites out of it). Or should this information stay within the wiki? Personally I prefer that kind of information to be available through the repository itself instead of the wiki.

[2016-06-02 17:50] ulope opened #14 "Rename "Authors" to "Speakers" or "Presenters""
I feel like "Speaker" or "Presenter" is a more fitting term.

[2016-06-02 17:52] lphk92 opened #15 "Fix CSS for images on homepage"

[2016-06-02 18:02] ulope opened #16 "Reorganize "Speakers" page"
Currently the Speakers page is just a long list. It would be nice to reorganise it something a bit more usable.

Ideas:

* Alphabetical index
* Multiple columns
* Filtering / Search

[2016-06-02 18:09] elzilrac commented on #11
Can I take this?

[2016-06-02 18:19] #15 closed

[2016-06-02 18:36] #13 closed

[2016-06-02 18:39] zerok opened #21 "Category vs. Event vs. Conference"
Would it make sense to rename "categories" in to something like "events" or "conferences"? As an end-user I was always confused by that wording on the original website.

[2016-06-02 18:57] slick666 opened #24 "Add torrent RSS output from the site?"
It would be cool if the site was able to maintain an RSS feed of the video torrents. We would need to be able to have this as part of the ingest portion.

[2016-06-02 18:59] zerok opened #25 "Rendering on mobile broken"
Right now some widths are hardcoded which breaks the rendering on mobile devices.

[2016-06-02 19:07] jmbowman opened #26 "Add automated accessibility tests"
Add some automated tests to check for common accessibility problems, and open issues to resolve any relevant problems they find.  edX open sourced a Selenium testing framework called [bok-choy](https://github.com/edx/bok-choy) that [can do this](http://bok-choy.readthedocs.io/en/latest/accessibility.html), [sbo-selenium](https://github.com/safarijv/sbo-selenium) would be [another option](https://g

[2016-06-02 19:09] elzilrac opened #27 "Redirects from pyvideo style links"
There's a different naming schema; it would be great if there was a redirect from the old pyvideo-style links to the new pytube style links:
https://github.com/Nitron/pelican-alias

[2016-06-02 19:12] elzilrac opened #28 "Lazy loading thumbnails"
Until scraping and thumbnailing is complete, there should be a standin thumbnail image while the remote-hosted thumbnail is (or is not) loading.

[2016-06-02 19:19] #14 closed

[2016-06-02 19:46] logston commented on #21
I agree that is kind of vague. I'd be +1 for renaming it to events. I'd like to keep it semi-general though as we host things besides conferences.

[2016-06-02 19:47] logston commented on #24
SICK!

[2016-06-02 19:48] logston commented on #25
Awesome find.

[2016-06-02 19:48] #25 closed

[2016-06-02 19:49] logston commented on #26
Very cool.

[2016-06-02 19:55] logston commented on #28
Hmm, we have a stand in thumbnail. I'll look into why it is not loading.

[2016-06-02 19:56] #11 closed

[2016-06-02 20:03] #16 closed

[2016-06-02 20:07] lphk92 commented on #21
I'd also +1 for events

[2016-06-02 20:10] lphk92 opened #33 "Fix columns on speaker page"

[2016-06-02 20:45] zerok commented on #21
OK, I will try to get rid of that term from the whole site then and replace it with Category/Categories :)

[2016-06-02 20:49] ulope opened #34 "Add open graph meta tags"
Open graph tags make it easier to share on social media etc.

[2016-06-02 21:06] zerok commented on #21
Hmm... another idea: I take it "Chicago Djangoauts" is just a series of meetup recordings? In that case, calling it "Series" instead of "Event" might make more sense.

[2016-06-02 21:24] zerok commented on #9
I will try to create a little prototype today :)

[2016-06-02 21:24] #21 closed

[2016-06-02 21:49] #33 closed

[2016-06-02 22:07] Taar opened #37 "Option to view the video from different sources/download"
Since we'll be uploading the video to other sources, we should have a option so the user can choose which streaming service to use or download the video directly. So have a button for Youtube, Vimeo, linux.org, archive.org, etc

Example of the data:
[code]

Looking at the original data I don't see a field for marking the original video so we'll need to add that in. I'm thinking it could just be ad

[2016-06-02 22:45] logston commented on #28
I did a bit of work on this @elzilrac. Feel free to dump or use. https://github.com/pytube/pytube/pull/39

[2016-06-02 23:09] elzilrac commented on #28
I'm finding that all the thumbnails from blip.tv are broken (they hang, and eventually timeout). It looks like the site blip.tv now redirects to maker.tv

There are 586 occurrences (perhaps need new thumbnails).

[2016-06-02 23:15] elzilrac opened #43 "point www subdomain at github"
I think that it helps a little bit with user's expectations to have www behave the same as plain domain, so it would be cool if you update the DNS records to have www.pyvideo.org work the same as pyvideo.org (point at github pages?).

[2016-06-02 23:41] #34 closed

[2016-06-03 00:27] logston commented on #43
Donezo.

[2016-06-03 00:27] #43 closed

[2016-06-03 00:36] #9 closed

[2016-06-03 00:40] codersquid commented on #28
(delurking to suggest opening an issue on pyvideo-data to track work to remove/fix blip.tv problems)

[2016-06-03 01:13] salah93 commented on #10
hmm sounds similar to  pytube/scraper#5

[2016-06-03 01:42] logston commented on #28
Good point @codersquid. Closing this bug as its original goal has been satisfied by #39 .

[2016-06-03 01:42] #28 closed

[2016-06-03 03:55] ulope opened #50 "Update article_list_item to include conference name"

[2016-06-03 05:15] Dinkins commented on #8
@logston can we close this?

[2016-06-03 06:35] logston commented on #8
Yes! Great stuff @Dinkins

[2016-06-03 06:35] #8 closed

[2016-06-03 07:38] lphk92 opened #52 "Create favicon from new logo"

[2016-06-03 07:43] lphk92 opened #53 "Properly embed vimeo videos"
Use Boston meetup videos for sample

[2016-06-03 13:22] codersquid commented on #37
Might want to have a view like the one on pyvideo.org, like http://pyvideo.org/category/55/pydata-berlin-2014/files and it could just all the available downloads for each talk.

On specific talk pages, there's a list of downloadable files, http://pyvideo.org/video/3059/building-the-pydata-community I can't remember offhand an example to show you for a talk with multiple file types, sorry. That exa

[2016-06-03 13:24] codersquid commented on #37
Could you clarify? Is there a group who will be making sure videos are archived in places like archive.org and wikimedia commons? I'd like to track the issue/repo/conversation. I've done a little for uploading videos, and Carl (he has pushed data to pyvideo before along with uploading things to youtube/rackspace/archive before) has as well.

[2016-06-03 16:24] lphk92 commented on #37
I believe the current plan for the front end would be to have tabs on a particular talk page, with each tab having the video embeded from a different source (ie. some videos are on both youtube and vimeo, and have a downloadable mp4).

I'll let @Taar address the issue of where videos will potentially be archived

[2016-06-03 17:01] zerok commented on #52
On it :)

[2016-06-03 17:27] lphk92 commented on #53
This is done, but going to wait for pull request #54 to get in first

[2016-06-03 17:35] tfors commented on #50
I'm going to try working on this

[2016-06-03 18:31] tfors opened #60 "Travis-CI fails on PR from forked repo"
Forking the repo and then submitting a PR causes Travis-CI to fail with the following erro.:

[2016-06-03 18:48] #53 closed

[2016-06-03 18:49] #52 closed

[2016-06-03 18:53] #50 closed

[2016-06-03 19:28] codersquid commented on #37
@Taar hi, we have a lot of the old blip stuff in a storage container in our pyvideo rackspace account. Let me know if I can help  make life easier for anyone who wants to access that.

[2016-06-03 19:46] logston commented on #10
Yeah, I say we close this in favor of something that validates URLs at a lower level. (ie. pyvideo-data)

[2016-06-03 19:47] #10 closed

[2016-06-03 19:58] elzilrac opened #64 "Create web forwarding when pyvideo.org rights are acquired"
This example is through Gandi registrar.

You can use their "Web Forwarding" to preserve the url path on redirect. Ther permanent redirect is also good for preserving SEO whatever things (according to people on the internet).

Example:
pyvideo.org/speaker will 301 permanant redirect to pytube.org/speaker

<img width="880" alt="screen shot 2016-06-03 at 12 51 14 pm" src="https://cloud.githubusercon

[2016-06-03 21:20] jmbowman commented on #26
PR is at https://github.com/pytube/pytube/pull/66 and ready for review.

[2016-06-03 21:32] elzilrac opened #67 "RSS feeds"
- [x] For Conferences ex: http://www.pyvideo.org/category/23/djangocon-2012/rss
- [x] For Speakers ex: http://www.pyvideo.org/speaker/1272/austin-bingham/rss
- [x] For all videos ex: http://www.pyvideo.org/video/rss

[2016-06-03 22:22] lphk92 opened #71 "Documentation for integrating pelican plugins with custom JSON reader"

[2016-06-03 23:04] #67 closed

[2016-06-04 00:00] #37 closed

[2016-06-04 00:03] lphk92 commented on #71
There is a page for this in the wiki now, but I'd like to have it reviewed before saying it is done. @elzilrac if you have a second could you let me know what you think, and if it seems like the appropriate way to work with plugins?

[2016-06-04 00:12] elzilrac commented on #71
Awesome, this looks really great. Also dig the sample code :D

[2016-06-04 00:14] lphk92 commented on #71
Great! 👍

[2016-06-04 00:14] #71 closed

[2016-06-04 01:21] jmbowman opened #78 "Improve contrast for better accessibility"
A couple of parts of the site have text with poor enough contrast against the background to be flagged as an accessibility concern:

* The copyright statement in the footer (all pages)
* Disabled entries in the jquery-listnav plugin (on the events, speakers, and tags pages)

The styling of this content should be updated so as to comply with the [WCAG minimum contrast](https://www.w3.org/TR/UNDERST

[2016-06-04 20:33] jmbowman opened #82 "Enable crowdsourced video caption creation"
Having captions for all the videos would improve both the searchability and the accessibility of the site.  Doing it all at once would be a huge project, but encouraging site users to submit captions could make it possible to gradually get them all done.  MIT has a [captioning resources page](https://ux.mit.edu/accessibility/captions) that looks pretty useful.  It mentions [Amara](http://www.amara

[2016-06-04 20:37] jmbowman commented on #78
This was fixed with https://github.com/pytube/pytube/pull/81 .

[2016-06-04 20:37] #78 closed

[2016-06-05 20:52] logston opened #86 "Create a preview environment"
Create a preview env where PRs can be viewed once built.

[2016-06-06 02:50] logston opened #92 "Figure out how to make google analytics public"
@logston (Paul Logston) should not be the only person privy to this information:

![screen shot 2016-06-05 at 10 47 56 pm](https://cloud.githubusercontent.com/assets/2641765/15810758/c81b925c-2b6f-11e6-8d9f-c77070c635bd.png)

[2016-06-06 02:55] logston commented on #86
Progress on this is moving along.

- [ ] Set up alternate repo/org to house built preview site
- [ ] A indicator on built preview site to show what branch / PR is being shown.

[2016-06-06 14:02] Dinkins commented on #8
@logston I know this is closed, but you may want to [submit another indexing request](https://support.google.com/customsearch/answer/115959?hl=en&ref_topic=16792) through the search console. I'm still seeing older links in the search.

[2016-06-06 23:31] logston commented on #8
@Dinkins Oh yeah, good call. Any way to do this automatically?

[2016-06-06 23:37] logston commented on #8
Look around and could not find a way to re-initiate an indexing. :/ Not sure how to proceed here. Do you mind taking a look into it @Dinkins?

[2016-06-07 05:47] logston opened #98 "Figure out available env vars during tavis build"
[code]

[2016-06-07 05:47] #98 closed

[2016-06-08 07:01] zerok commented on #92
As a simple solution you could create a seperate account for pytube and add users through that :)

[2016-06-08 07:13] #86 closed

[2016-06-08 14:33] zerok opened #101 "Communication tools"
During the #pycon2016 sprints we've used the conference's Slack. Now that the sprints are over what should our primary communication tool be? Should we perhaps use Gitter or something like that? Given that we use Github for pretty much everything here, it would kind of make sense :)

[2016-06-08 15:16] codersquid commented on #101
Let me know if you use another slack. Enable the irc gateway too. I use weechat and add slacks to it just like other irc networks.

I think also a mailing list is good, and you can use pyvideo-data @ python.org if you like. I can add more admins. If you want a new something python.org address, they are friendly about setting them up.

Don't forget to keep a means of contact prominent on the site s

[2016-06-09 03:20] logston commented on #101
Hey @zerok, good point. I've gone ahead and started a gitter room for this repo and the data repo.
https://gitter.im/pytube/pytube
https://gitter.im/pytube/data

@codersquid I agree. I vote that the mailing list sticks around and we use and publish that as the email to contact regarding data issues.

[2016-06-09 04:01] logston commented on #101
Closing because we have a designated communication tool now. Please reopen if you feel parts of this issue where not fully addressed.

[2016-06-09 04:01] #101 closed

[2016-06-09 04:44] zerok commented on #101
Awesome, thank you 🙂

[2016-06-09 13:15] codersquid opened #105 "Get DOI for this repo"
Zenodo provides DOI for github releases. This allows people doing research to provide citations for code.

This explains how to get a DOI. https://zenodo.org/account/settings/github/

[2016-06-09 13:48] tfors opened #106 "Fix slug collision warnings during build"
Warnings are generated for talks that share the same slug.

For example, the same talk given at two different conferences:

* djangocon-2014/videos/how-do-debug-tool-bars-for-web-applications-work.json
* pycon-au-2014/videos/how-do-debug-tool-bars-for-web-applications-work.json

or lightning talks across conferences:

* kiwi-pycon-2009/videos/lightning-talks.json
* djangocon-2014/videos/lightning-

[2016-06-09 17:08] zerok commented on #106
I hope that we won't have to patch Pelican for that, but I'll look into it :)

[2016-06-09 17:23] tfors commented on #106
Awesome!  Yeah, if Pelican requires patching, it'd probably be best just to manage unique slugs in the data repo manually when collisions occur.

[2016-06-09 17:29] tfors commented on #106
Ah, I've been going through and cleaning up the RST in the data repo to fix the warnings. I think they're nice to keep since fixing them does improve the html that's generated.

[2016-06-09 17:30] zerok commented on #106
I'd propose following solution for now:

Without warnings

With warnings:

[code]

Without warnings:

[code]

Sooo much output (already implemented):

[code]

[2016-06-09 17:30] zerok commented on #106
@tfors Please don't change the slugs. These are part of the URLs and we don't have any redirection logic. By changing slugs, people and systems with the old links get 404s without a useful redirection.

[2016-06-09 17:36] tfors commented on #106
@zerok Gotcha.  I believe I've only fixed errors in RST in the description fields so far, but I'll go back and make sure my previous PRs didn't change any slugs.

[2016-06-10 00:39] tfors commented on #106
I didn't mean to unassign you.  I was typing in the wrong window. The PR fix looks good. I'll close this issue.

I also confirmed that no slugs were harmed in my data repo PRs to clean-up the RST. :)

[2016-06-10 00:39] #106 closed

[2016-06-10 10:26] zerok opened #109 "Inconsistent URL of BostonPy"
Right now http://pytube.org/events/boston-python-meetup.html is generated, while it should be http://pytube.org/events/bostonpy.html according to all the slugs I could find so far. This would also be consistent with pyvideo.org.

Related to pytube/data#9.

[2016-06-10 19:22] zerok commented on #109
Found the problem. It is related to how we detect category meta data (we just use the category as it is stored with each video, which in turn is just the name and not the slug). Here we don't yet load the slug data from the category.json file. On it.

[2016-06-11 00:28] nficano commented on #98
This is the expected behavior, you have two mp4 videos but `.get()` can only be used if only one object matches your criteria.

To fix, you will need to specify the resolution, e.g.:

[code]

Finally, if you always want the highest resolution video, you could do this:

[code]

[2016-06-11 02:28] Suberri commented on #98
Thanks

[2016-06-11 19:16] #109 closed

[2016-06-15 07:09] zerok opened #112 "Hosting"
Right now the site is running on github pages which is awesome for getting started but will eventually require from us to do more and more hacks. I'm thinking mostly about issues like redirecting which are normally handled using nginx et al.

Should we perhaps try to get a tiny sponsored VPS where we simply put nginx on? I would love to keep the infrastructure we have to manage ourselves to be bar

[2016-06-15 12:53] codersquid commented on #112
I also think it's a good idea for FLOSS reasons.

I think we could get resources from the PSF, #12.

If not, pyvideo has a rackspace account and they donate it to us. It is hosted there, and I could set up more rackspace user accounts so that people could spin up VMs. People will need to be careful not to spin up too many resources. Occasionally I get a large bill. They are really good about rever

[2016-06-16 04:21] logston commented on #112
I agree that, at some point, we may need to deploy to a VPS. Right now though, I don't think we've hit that point. Is there a particular hard-to-pass roadblock we are facing that would be gone if we were to get a VPS now? I know @elzilrac was working on URL redirection and it seemed that we could do so relatively easily without using Nginx; just a matter of a Pelican plugin. Also, since we have re

[2016-06-17 01:18] logston opened #113 "Media url is incorrect"
Media URL should be URL to youtube page, not to `embed`ed view of youtube video. In the example below, the URL should be https://www.youtube.com/watch?v=AcyI_V8FeIU

![screen shot 2016-06-16 at 9 16 32 pm](https://cloud.githubusercontent.com/assets/2641765/16138061/b99ce3b6-3407-11e6-89f4-dee01e0daf9e.png)

[2016-06-17 06:06] zerok commented on #113
Good point. Will do that either this afternoon or tomorrow :)

[2016-06-18 16:11] logston commented on #113
Sweet! Thanks @zerok!

[2016-06-20 03:23] #113 closed

[2016-06-20 04:10] logston opened #116 "KeyError: 'slug'"
[code]

[2016-06-20 04:27] logston commented on #116
This issue is due to the `content/conferences/.schemas/category.json` confusing the `event_info` plugin.

[2016-06-20 04:46] #116 closed

[2016-06-21 00:09] logston opened #118 "Add archives section"
I've noticed that I want to be able to see all videos in reverse chronological order; so that I can see what's new.

[2016-06-25 14:52] logston opened #124 "Broken link in pytube.org main page (DePy 2016)"
In pytube.org => Latest events => DePy 2016
Is pointing to http://pytube.org/events/depy-2016.html instead of http://pytube.org/events/depy2016.html

Moved from https://github.com/pytube/pytube.github.io/issues/1

[2016-06-25 17:52] zerok commented on #124
Found the problem. Sadly, it looks like it will require a bit of a hack to resolve it. I now have a working solution but will try to prettify it a little bit :/

[2016-06-26 18:58] logston commented on #124
Awesome.

[2016-06-26 18:58] #124 closed

[2016-06-27 01:39] #118 closed

[2016-06-28 08:31] zerok commented on #118
Are you no longer interested in this? :)

[2016-06-29 01:32] logston commented on #118
Yeah. Thought about it and this shouldn't be my priority right now. Getting more data into `pytube/data` should be my focus. :)

[2016-07-02 15:39] nficano commented on #101
Sorry @cbertelegni, this isn't possible.

You would need to download the entire video and pipe it through something like ffmpeg to extract the audio.

[2016-07-06 23:33] Daniel-at-github opened #127 "In video pages add link to data source"
My suggestion consists in adding a link "Improve video data" in every video page, linking to the corresponding json file in https://github.com/pytube/data.

Example:
http://pytube.org/pycon-us-2016/brian-warner-magic-wormhole-simple-secure-file-transfer-pycon-2016mp4.html
will link to
https://github.com/pytube/data/blob/master/pycon-us-2016/videos/brian-warner-magic-wormhole-simple-secure-file-tra

[2016-07-08 13:02] Daniel-at-github opened #129 "In video pages add links to related_urls"
In current video json schema exists related_urls field, but is not showed anywhere (or isn’t obvious).
My suggestion consists in adding "Related URLs " list of links in every video page.

[2016-07-13 23:06] #127 closed

[2016-07-13 23:37] logston commented on #129
Great suggestion.

[2016-07-13 23:43] logston commented on #92
Thanks, I figured out how to share the data with other Google accounts. I'm working on updating the readme so people know hot to get this data.

[2016-07-13 23:48] #92 closed

[2016-07-13 23:54] logston opened #135 "Fix "Improve this page" link"
http://pytube.org/python-brasil-2015/trilha-web-funkload-quanto-a-sua-aplicacao-web-aguenta-iuri-de-silvio.html

[2016-07-14 21:46] #135 closed

[2016-07-14 22:14] #105 closed

[2016-07-17 02:50] #129 closed

[2016-07-17 03:00] logston commented on #60
No way around this unless I get rid of the preview site or make the deploy key public. The issue is that forks do not have access to env vars in travis ci for security reasons. I really like the preview site and don't want to make the deploy key public right now. @tfors Any suggestions? Maybe we could put the key decryption in the travis.sh file after the main tests? Instead of before the test sui

[2016-07-17 03:42] logston commented on #27
I think this is a duplicate of https://github.com/pytube/pytube/issues/64 Please reopen if it is not.

[2016-07-17 03:42] #27 closed

[2016-07-17 17:48] Daniel-at-github opened #149 "Tags link broken in video page when the tag contains an space"
Example tag "internet of things"
Going through [Tags](http://pytube.org/tags.html) => [internet of things](http://pytube.org/tag/internet-of-things/) its ok
Going through [video page](http://localhost:8000/pycon-de-2013/die-dinge-im-internet-der-dinge-mit-python-verbin.html) => tags:  [internet of things](http://pytube.org/tag/internet of things/) its broken ("-" are missing, having " " instead)

[2016-07-17 19:46] ElliotJH commented on #149
I think link 3 wants to be [video page](http://pytube.org/pycon-de-2013/die-dinge-im-internet-der-dinge-mit-python-verbin.html) looks like you put a localhost link in accidentally..

[2016-07-18 00:47] #149 closed

[2016-07-20 23:54] logston commented on #24
This sounds super cool but would take a lot of maintenance. In an effort to keep community efforts focused on the core needs of PyTube.org, I'm going to close this issue. Please do reopen it if you can commit to at least six months of building and maintaining this feature.

[2016-07-20 23:54] #24 closed

[2016-07-20 23:57] logston commented on #112
Happy to revisit this issue when we start to hit growing pains. Please reopen if we are experiencing those pains now.

[2016-07-20 23:57] #112 closed

[2016-07-21 00:05] logston commented on #60
It stinks that we can not resolve this issue easily or clearly. However, since there is not much we can do for this issue, I think its best we close this issue so that efforts can stay focused on pytube/data. Also, I don't see this issue as a major road block. Each time someone submits a PR, I usually end up adding them as a collaborator on the repo anyway. Please reopen if you feel differently @t

[2016-07-21 00:05] #60 closed

[2016-07-21 00:08] logston commented on #12
You make a great point @codersquid, that we should reach out to the PSF for money (via a grant) or infrastructure (if we need metal). However, since we are not at that point yet, and I'd like to focus people's efforts on pytube/data, I'm going to close this ticket. Please reopen if you feel differently.

[2016-07-21 00:08] #12 closed

[2016-07-21 00:12] logston commented on #82
@jmbowman Since we simply play the embedded version of the youtube videos (which comes with whatever captioning is already associated with the video there), should we move this issue to the pytube/data repo and point people at the youtube docs for adding captions?

https://support.google.com/youtube/answer/2734796?hl=en

[2016-07-24 08:58] Daniel-at-github opened #159 "Deleting slug in video breaks the web"
slug is an optional field in video, but if you erase it, then the main page is broken.
Example ( from https://github.com/pytube/data/pull/125 )
[code]

[2016-07-24 20:45] #159 closed

[2016-07-27 23:01] EricSchles opened #165 "Search for pytube"
I will be modeling search off of the search I created for vets.gov.  Since search for video can be complex I will take the following approach, in stages:

##Stage 0 - setting up search - Due August 4th

In this stage I will translate i14y to python, found here: https://github.com/GSA/i14y and set it up on AWS so that we can use elastic search as our search backend.

##Stage 1 - Naive search - due

[2016-08-03 19:52] logston commented on #165
1. On merge of pytube/pytube, kick off job to ingest data

2. JS to ask ES for JSON info for modal

3. Build modal that shows results of ES data retrieval

[2016-08-03 20:23] logston commented on #165
@EricSchles I've set up es.pytube.org as a subdomain for you. Please join the https://gitter.im/pytube/pytube channel to keep us in the loop.

[2016-08-11 13:18] nficano commented on #106
thanks, let me take a look!

[2016-08-12 04:41] logston commented on #64
Woot.

[2016-08-12 04:41] #64 closed

[2016-08-12 04:41] logston commented on #165
Please note that the url has changed to es.pyvideo.org

[2016-08-14 01:29] logston opened #176 "Migrate to pyvideo on GitHub?"
With the dawning of the pyvideo.org domain, it makes more sense to move to the pyvideo organization on GitHub.

- TODO
- talk to Will and Sheila about taking over org
- create/move repos
- update docs

[2016-08-15 22:02] Daniel-at-github opened #180 "When description don't exsist in category.json, html generation fails."
When the optional field `"description"` is missing in category.json html generation response is  `CRITICAL: KeyError: 'description'`

Example:
[code]

[2016-08-20 04:37] #176 closed

[2016-08-20 04:54] logston commented on #180
Closing in favor of pyvideo issue.

[2016-08-20 04:54] #180 closed

[2016-08-20 04:54] logston commented on #165
Closing in favor of pyvideo issue.

[2016-08-20 04:54] #165 closed

[2016-08-20 04:55] logston commented on #82
Closing in favor of https://github.com/pyvideo/pyvideo/issues/4

[2016-08-20 04:55] #82 closed

[2016-09-07 06:40] ghost commented on #106
The maximum quality available is 720p... No higher than that (tested with 2160p videos). Also, no option for 720p 60fps or 1080p 60fps. I think it's some kind of limit? I am not sure if it was made by nficano on purpose. But still, I enjoy it. I'm newbie at Python and GitHub.. It keeps me kinda hooked :)

[2016-09-18 22:30] dyeray commented on #106
Videos of more than 720p only seem to be available from YouTube by using Media Source Extensions (so they are served as a stream from a javascript API instead of a link to a file). This may be related.

https://googlesystem.blogspot.com/2013/10/youtube-drops-support-for-1080p-streams.html

[2016-09-20 14:43] nficano commented on #106
Interesting find, I looked into this the other day, I assumed the quality profiles needed to be updated:
https://github.com/nficano/pytube/commit/d625b83f2c2af9afde3fc1c3358662f232de0143

(fwiw these have historically been maintained here: https://en.wikipedia.org/wiki/YouTube#Quality_and_formats)

But this doesn't seem to fix it. I'm going to poke around similar projects see how they have address

[2016-09-22 17:51] nficano commented on #109
this is a duplication issue see: https://github.com/nficano/pytube/issues/106

[2016-10-28 12:22] nficano commented on #112
can you provide the video that caused this?

[2016-12-18 10:54] suleymanccelik commented on #112
Hi,

Error Message : pytube.exceptions.CipherError: Couldn't cipher the signature. Maybe YouTube has changed the cipher algorithm. Notify this issue on GitHub: Could not find JS function 'wm'

I try to download https://www.youtube.com/watch?v=5hwMb6JTvBE

[2016-12-20 02:14] nficano commented on #112
This seems to work fine for me, you may be on an outdated version. try `pip install -U pytube`.

[code]

[2017-01-03 08:46] picksmania commented on #112
Am also facing similar issue, could you please help me to solve this issue?
PFB my version details:
Python: 2.7.11
pytube: 6.1.11 / 6.1.14

PFB the logs for the same:
--------------------------------------------------------------------------------------------------

'6.1.11'

'2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)]'

Traceback (most recent call last):
  Fi

[2017-01-05 08:37] palashgoel7 commented on #112
It seems to work for me too. Although I have not been able to use the version of pytube that I have been using. Python version 2.7.12

[2017-01-10 19:00] jasonab commented on #112
I'm seeing this on my end with Python 3.5, PyTube 6.1.11:
CipherError("Couldn't cipher the signature. Maybe YouTube has changed the cipher algorithm. Notify this issue on GitHub: 'qC'",)

It's for this video: http://www.youtube.com/watch?v=bTDNicp3IhU

[2017-01-10 23:32] jasonab commented on #112
@nficano the other videos on this page also gave me the same error. I noticed that I cannot update past 6.1.11 - is there a version that was not pushed to Pypi?

[2017-01-11 20:05] nficano commented on #112
will update today

[2017-02-01 02:35] playerkk commented on #118
Found a solution in another issue https://github.com/nficano/pytube/issues/117.

[2017-03-25 13:19] greenfrogs commented on #124
I am new here, but I think that it would be a really useful feature to have natively.

[2017-03-26 22:01] nficano commented on #92
Possibly, probably wasn't available when I developed this. That said, I also don't see how to access this endpoint so please provide an example.

[2017-03-26 22:02] nficano commented on #124
Nah I can get behind this as a feature. It might take me a while to get to this so if someone wants to create a PR for this, it would be appreciated.

[2017-03-26 22:22] DonoA commented on #124
Ya, I would be happy to add it. I already have a rough version, ill fix it up and PR.

[2017-03-26 23:24] tercerapersona commented on #92
Not sure if the API is deprecated or why it is undocumented, but works.. It returns a query string with a bunch of data but not sure if stream url is exactly there.

i.e. https://www.youtube.com/get_video_info?video_id=iOfYQAks1BU

[2017-03-27 01:20] nficano commented on #92
this is interesting, thanks for the tip, I'll look to see if this contains all necessary info. I'd gladly switch to this if possible

[2017-03-27 01:20] tercerapersona commented on #92
Just tested

[code]

[2017-03-27 18:18] DonoA commented on #124
@nficano, I have a design question: the way things are setup right now would suggest that the YouTube class represents a single page on YouTube with a video, or now, a video and/or playlist. That said, the object has many references that make it impossible for it to represent a playlist without a video. Ideally I would like to change this class so that it no longer represents a single YouTube vide

[2017-03-29 16:20] Cg-boy commented on #106
Hi.
Is there any progress on getting 1080p to work yet? This is a great library, and I'd like to use it for a youtube downloader I'm working on, but it would be nice to be able to download 1080p videos.

Thanks.

[2017-04-06 20:51] piratimir commented on #106
@Cg-boy I am currently working on this issue :)

[2017-04-07 08:10] Cg-boy commented on #106
@jetbird Okay, thanks.

[2017-04-08 21:17] piratimir commented on #106
I have been hacking the code  and I see the 1080p quality video link is not being included in the url_encoded_fmt_stream_map. There is a way to get the separate streams and then join them using ffmpeg. I am ready to implement this feature if @nficano agrees.

[2017-04-14 09:44] palashgoel7 commented on #67
the __lt__ method defined in models.py compares first on the basis of extension, and then on the basis on resolution. We should make this the opposite way for this to function.

`        if isinstance(other, Video):
            v1 = "{0} {1}".format(self.extension, self.resolution)
            v2 = "{0} {1}".format(other.extension, other.resolution)
            return (v1 > v2) - (v1 < v2) < 0`

[2017-04-16 07:47] palashgoel7 commented on #67
It would be better to list all available videos and let the user choose among them in case nothing is specified.

[2017-04-16 11:42] palashgoel7 commented on #124
This looks like a great feature to have. Can you please implement this.

[2017-04-16 17:36] palashgoel7 commented on #113
@tangingw  Can you create a PR for this?

[2017-04-21 19:14] piratimir commented on #106
@nficano I pushed the code for solving this issue and also created a PR.

[2017-04-21 20:34] nficano commented on #106
thanks will merge today

[2017-04-28 10:32] palashgoel7 commented on #113
http://stackoverflow.com/questions/85451/python-time-clock-vs-time-time-accuracy mentions the use of clock to be better than time

[2017-04-29 01:37] tangingw commented on #113
Hi,

Thanks for sending the stackoverflow for me to read. I haven't started with
the PR yet. The reason for me to raise the concern is when I use
time.clock(), it does not show the accuracy that I want when I do the delta
in epoch time.

James

On Fri, Apr 28, 2017 at 6:32 PM, Palash Goel <notifications@github.com>
wrote:

--
James Ing Wei Tang (鄭應偉)

[2017-04-29 05:18] tangingw commented on #113
Hi I have your library ran in the Windows. Hence I would say maybe we can
add a few codes to it so that we can adjust the changes

pseudocode:

if os.name in ["windows, "nt"]:

   use time.time()
else:
   use time.clock()

James

On Sat, Apr 29, 2017 at 9:37 AM, James Ing Wei Tang <tangingw.pas@gmail.com>
wrote:

--
James Ing Wei Tang (鄭應偉)

[2017-04-29 05:21] tangingw commented on #113
There is a difference between the calculation of time.clock in windows and
Unix

https://www.tutorialspoint.com/python/time_clock.htm

On Sat, Apr 29, 2017 at 1:18 PM, James Ing Wei Tang <tangingw.pas@gmail.com>
wrote:

--
James Ing Wei Tang (鄭應偉)

[2017-05-02 08:26] andreif commented on #106
Related PR is #136

[2017-07-25 03:35] Chandrahasabburi commented on #106
i think 1080p issue is still not solved.  Any leads on this topic ?

[2017-07-26 12:58] amir3code commented on #106
1080 and 2160 are not showing. Your project is not complete

[2017-09-14 06:03] gemetalreg commented on #124
There is news about playlists?

[2017-10-04 00:11] myelmer commented on #106
Is there anything about 1080p?

[2017-10-04 10:27] ghost commented on #106
Video quality 720p+ (even 4k) are available using **adaptive_fmts** instead of **url_encoded_fmt_stream_map**, BUT, video is separated from audio.

[2017-10-04 14:35] nficano commented on #106
@myelmer @svkboii I been working hard over the past 2 weeks to do a complete rewrite of pytube (available here: https://github.com/nficano/pytube/tree/7.0.0).

I'm in the burn down phase of getting it releasable, the outstanding tasks are:
- [ ] comments and docstrings
- [ ] unit tests
- [ ] exceptions
- [ ] update readme

This release finally exposes ``adaptive_fmts`` which includes the 1080p str

[2017-10-04 14:54] ghost commented on #106
Basically, I am working on my own YouTube downloader. I am working on it two days now (yesterday I was doing some research) and I started programming today. I have my own signature function extractor + all video data. Now I am working on the UI. Higher quality videos will be downloaded from dash streams (adaptive_fmts) and video+audio merged using ffmpeg.

[2017-10-11 22:06] nficano commented on #159
Hi, @myelmer I just pushed a patch release that should eliminate this bug. just run:

[code]

sorry you're having an issue, let me know if that doesn't resolve it.

[2017-10-17 13:37] shavidzet commented on #124
What are you waiting for?
Why don't you send own PR guys to add playlist download feature?

[2017-10-17 13:55] nficano commented on #124
for what it's worth, playlists are next on my list after documentation

[2017-10-23 18:42] nficano commented on #165
All fixed! thanks for reporting.

[2017-12-06 10:47] boostup commented on #176
Oh, I also wanted to add that when I use the 'caption = yt.captions.get_by_language_code('en')' method, I get the captions without errors; it is only when I try to get the list of available captions that I get this error.  But I do need to get the list of available langs so that I can programmatically choose the right language.

Thanks!

[2017-12-09 22:56] boostup commented on #176
Can anyone help at all?

[2017-12-20 23:07] ddoyaguez commented on #176
Hi,
I could not reproduce the issue with your code above because the Youtube video seems to be no longer available.
Anyway, trying your code with other videos make the variable 'available_captions' contain an empty list.

A possible workaround can be replacing line 84 of captions.py by:
`return unicode('<Caption lang="{s.name}" code="{s.code}">'.format(s=self), errors='ignore')`
This might solve t

[2018-01-09 14:27] vn-ki commented on #124
@nficano Are you working on this right now?

[2018-01-12 12:52] boostup commented on #180
I can confirm that the same problem is occurring for me.

this code in the interactive console is immediate.

but extremely slow when running in my .py file...

[2018-01-17 01:08] ocervell commented on #176
I get the same error, with `pytube.helpers.safe_filename` when computing the filename for some videos.

Basically any video that have special language-specific characters in the title will be affected.
Try [this one](https://www.youtube.com/watch?v=eviqX3QXd-s) for an example.

Since it's impossible to account for all weird characters (from any language) present on Youtube, if you want to safely c

[2018-01-26 21:32] diegocr commented on #180
https://github.com/nficano/pytube/blob/9b2345574430537d2d8b917ae399a7488e042248/pytube/cli.py#L162

Same issue here, and removing the `on_progress_callback` parameter seems to resolve the issue... well, at least it downloads faster although i still find it somewhat slow...

[2018-01-30 08:13] ahmedsadman commented on #124
@nficano I can start working on it right away, infact I have a test version ready. Can I do this?

[2018-01-30 16:15] shavidzet commented on #124
@ahmedsadman, please provide us your feature's source code 🌴 ✌️

[2018-01-31 03:40] ahmedsadman commented on #124
@ShavidzeT If the developer assigns, I will make a pull request. Then you can see the source code. :)

[2018-01-31 16:59] jonrosner commented on #180
Same here, downloading with a `on_progress_call` speed goes to 250KB/s max. After removal speed goes up to 3MB/s max.
Any reason for that? I simply called a print for `bytes_remaining / stream.filesize`

[2018-01-31 19:40] ahmedsadman commented on #124
A pull request is already made #207
But the build is failing in Coveralls, I have no idea what code coverage is and how to fix it. Any help is appreciated @nficano

[2018-02-05 15:31] nficano commented on #124
@ahmedsadman  🎉  🎉  🎉

[2018-02-06 19:02] StasDeep commented on #180
If anyone is trying to increase the speed, I've written a multiprocessing chunk downloading function.

[code]

[2018-03-18 17:01] Igorjan94 commented on #106
Is 60fps and 1080p working now properly?
[code]

[code]

But we can see, that video contains 720p60 and 1080p60

[2018-03-21 05:12] yarodevuci commented on #180
What value needs to be for CHUNK_SIZE ?? @StasDeep

Anyway, you function is not working...

[2018-03-21 06:56] StasDeep commented on #180
@yarodevuci the thing is that a video is downloaded by multiple requests, each fetching a separate chunk. So if the video is 6 Mb and `CHUNK_SIZE = 3 * 2**20` (which is 3 Mb), then the video will be downloaded in 2 requests.

[2018-03-21 07:04] yarodevuci commented on #180
@StasDeep anyway i tried your code and it’s not working, maybe I used wrong chunk sizs? How do i calculate the size dynamically of the chunk?

[2018-03-21 07:07] StasDeep commented on #180
@yarodevuci I've experimented a lot with `CHUNK_SIZE` values. Seems like 2-3 Mb is usually the best option (just set `CHUNK_SIZE = 3 * 2**20`). If you want to use dynamic chunk size for different videos, you can add an argument to `download_video` function and use it instead of `CHUNK_SIZE` constant.

[2018-03-21 07:12] yarodevuci commented on #180
@StasDeep I am getting this error with your script: `requests.exceptions.InvalidURL: URL has an invalid label.`

[2018-03-21 07:18] StasDeep commented on #180
@yarodevuci does this problem occur with every video? Can you please give an example of `video_url` value which makes the function raise the exception?

[2018-03-21 07:21] yarodevuci commented on #180
@StasDeep yes, here is an example url "https://www.youtube.com/watch?v=DVaueIAhV6M"

Error happens in download_chunk(args) function

And I am using     stream = YouTube('https://www.youtube.com/watch?v=DVaueIAhV6M').streams.filter(adaptive=True, only_audio=True, subtype='mp4').order_by('abr').desc().first()

[2018-03-21 07:34] StasDeep commented on #180
@yarodevuci it works fine on my environment.
Here's how you can download audio (`171` is itag for `mime_type="audio/webm" abr="128kbps"`):
[code]
I use `Python 3.5.2`, `requests 2.18.4` and `pytube 9.0.2`.

[2018-03-21 07:38] yarodevuci commented on #180
@StasDeep Found the problem. Updated requests ...
Spasibo))
It downloads really fast 👍

Last question @StasDeep will the progress from pytube work or it has to be implemented differently?

[2018-03-21 08:25] StasDeep commented on #180
@yarodevuci yes, it has to be implemented in a different way. I tried using `imap_unordered` and it seems to work well. Here is a full example:

[code]

[2018-05-20 16:32] PathToLife commented on #106
^ Can confirm that 1080p60fps videos aren't showing.

[2018-05-24 02:05] tterb commented on #180
I've been having the same issue when using this module within a program with a progress bar implementation that's similar to the CLI.
Though, I noticed that the performance seems to be significantly less impacted when performing the same operations with unrelated values, rather than actually utilizing the values passed to the function. I don't know if this is expected behavior or what the cause of

[2018-07-28 15:39] micrenda commented on #180
Same problem here. I had to remove: on_progress_callback
I think it should be fixed or, at least, to have a switch --no-progress

[2018-08-13 21:15] apiraino commented on #180
This issue is greatly mitigated by pull request #290:
[code]

The fix looks to be implemented in v9.2.3 (not yet released on PyPI)

[2018-12-17 05:08] lawabb commented on #180
using pytube.__version__ 9.3.6 . The multiprocess download method is much much faster for me

[2019-02-16 05:24] IeUDE commented on #180
I do not know if my problem is related to the one reported here, but why does PyTube not use my full bandwidth while downloading a youtube video?

It uses maybe at-most 1/4 of the maximum it could use of my bandwidth . . .

[2019-03-10 18:34] stdedos commented on #180
I have re-tried that recently:

[code]

[code]

(Also, for what it's worth, in WSL, the amount of processes spawned and died is exceedingly too much. No idea if that happens also in e.g. Ubuntu. No idea how to measure that either, or if it is actually expected)

vs

[code]

-------------

If dev(s) think that it cannot be improved any further, then you may as well close it. I guess we will never b

[2020-04-11 19:57] AliAkhtari78 commented on #180
Any solution?
On my VPS with 1GB/s upload/download speed, the maximin speed is about 5MB/s and it's slow.

[2020-04-12 13:08] stdedos commented on #180
I guess just switch to `youtube-dl` 😕
Project here seems unmaintained, whereas on the other side, you get tons of everything.

I won't add blatant advertisment (i.e. link), but _it's very close to here_

[2020-04-12 23:12] AliAkhtari78 commented on #180
yeah, I should switch to`youtube-dl`.